@use 'typography' as typo;
@use 'colors' as colors;

input, textarea {
  all: unset;
}

input, textarea {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: .25rem;
  padding: .5rem;

  font-family: typo.$main-font;
  color: colors.$dark;

  transition: .2s;

  box-sizing: border-box;

  &:focus {
    border-color: #000;
  }

  &.ng-invalid {
    border-color: #ff4040;
  }
}
