@use 'spacing' as space;
@use 'typography' as typo;

.details {
  display: flex;
  width: 100%;
  font-family: typo.$main-font;

  .product-images {
    width: 60%;
  }

  .product-information {
    display: flex;
    flex-direction: column;

    gap: space.$gap-size * 2;
    width: 40%;
  }
}

.product-name {
  margin: unset;
}

.product-price {
  font-size: 1.5rem;
  margin: unset;
}

.actions {
  display: flex;
  gap: space.$gap-size;
}
